html {
    width:100%;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0 auto;
    width:100%;
}

#header {
    text-align: center;
}

h1 {
    text-transform: uppercase;;
    letter-spacing: 3px;
    color: darkblue;
    font-weight: 900;
}

h2 {
    text-transform: uppercase;
    margin-top: 3%;
    font-weight: lighter;
}

p {
    text-transform: uppercase;
    font-weight: 300;
    margin: 2% 0;
    letter-spacing: 2px;
}

label {
    font-weight: 100;
}


#formular {
    width:40%;
    margin: 0 auto;
    margin-bottom: 10%;
    background-color: rgb(238, 238, 238);
    border: 0 solid darkgrey;
    border-radius: 10px;
    padding: 2% 0 3% 0;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.15);
}

#geschlecht {
    margin-bottom: 3%;
}

#angaben {
    display: flex;
    flex-direction: column;
}


#geschlechterauswahl {
    border: none;
    padding: 0;
    margin: 0;
}


#m {
    margin-right: 2%;
}


#w {
    margin-left: 5%;
    margin-right: 2%;
}

#alter,
#groesse,
#gewicht {
    margin-bottom: 2%;
    width: 20%;
    padding: 1% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px none #adadad;
}

#gewicht{
    margin-bottom:5%;
}

input {
    margin: 0 auto;
}


#aktivitaet,
#ziel,
#training {
    margin-bottom: 4%;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color:#fff;
    cursor: default;
    margin: 0em;
    padding: 2%;
    font: 400 11px "Lato", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 15px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    border-width: 0;
    border-style: none;
    border-color: rgb(166, 166, 166);
    border-image: initial;
}

#berechnen {
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: #104B88;
    padding: 2% 5%;
    text-align: center;
}

#berechnen:hover {
    background-color: #b0cae7;
    color: rgb(21, 58, 99);
}

#zuruecksetzen {
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: #adadad;
    padding: 2% 5%;
    margin-left: 5%;
    text-align: center;
}

#zuruecksetzen:hover {
    background-color: #e4e4e4;
    color: #656565;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

button {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    border: none;
}


@media only screen and (max-width: 786px) {
    #formular { 
        width: 80%;  
        padding:5%;
    }
}


@media only screen and (max-width: 425px) {
    select { 
        width: 100%;  
    }
}

@media only screen and (max-width: 786px) {
    #alter,
    #groesse,
    #gewicht {
        width: 30%;  
    }
}

@media only screen and (max-width: 425px) {
    #alter,
    #groesse,
    #gewicht {
        width: 80%;  
    }
}

@media only screen and (max-width: 350px) {
    #berechnen,
    #zuruecksetzen {
        font-size: 80%;  
    }
}
