html {
    width: 100%;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    /* background-image: url("assets/rechner.svg"); */

}

body {
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    margin-top: 0;
}

.header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkblue;
    font-weight: 900;
}

h2 {
    text-transform: uppercase;
    margin-top: 3%;
    font-weight: lighter;
}

p {
    text-transform: uppercase;
    font-weight: 300;
    margin: 2% 0;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #313131;
}


#fehler {
    color: red;
    padding: 0 15%;
}

/* ------- Navigation ------*/

.navigation {
    position: absolute;
    display: block;
    width: 5%;
    margin: 2% 4%;
}

@media only screen and (max-width: 781px) {
    .navigation {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 5% auto;
        width: 100%;
    }
}

@media only screen and (max-width: 781px) {
    #iconHome,
    #iconKalorien,
    #iconDrops {
        float: left;
        width: 10%;
        height: 10%;
    }
}

@media only screen and (max-width: 781px) {
    #iconHome {
        padding-right: 5%;
    }
}

.calories {
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: #edad8c80;
    border-radius: 50%;
    transition-duration: 300ms;

}

.calories:hover {
    transition-duration: 300ms;
    background-color: #edac8cc0;
    box-shadow: 5px 1px 200px #edac8cc0;
}

.drops {
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: #7eabd878;
    border-radius: 50%;
    transition-duration: 300ms;
}

.drops:hover {
    transition-duration: 300ms;
    background-color: #7eabd8be;
    box-shadow: 5px 1px 200px #7eabd8be;
}

.home {
    padding: 13%;
    background-color: rgba(185, 185, 185, 0.418);
    border-radius: 50%;
    transition-duration: 300ms;
}

.home:hover {
    transition-duration: 300ms;
    background-color: rgba(185, 185, 185, 0.418);
    box-shadow: 5px 1px 200px rgba(197, 197, 197, 0.726);
}


/* ------- FITNESSRECHNER ------*/

#kalorienrechnerbody img {
    position: absolute;
    margin-top: 25%;  
    width: 30%;
    transition-duration: 300ms;
}

@media (hover: none) and (pointer: coarse) {
    #kalorienrechnerbody img {
    display: none; 
    }
}

#activityImg img {
    position: absolute; 
    width: 30%;
    right: 0;
    transition-duration: 300ms;
    }

@media (hover: none) and (pointer: coarse) {
    #activityImg img {
    display: none; 
    }
}

label {
    text-transform: lowercase;
    font-weight: 300;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

#formular {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10%;
    background-color: rgb(238, 238, 238);
    border: 0 solid darkgrey;
    border-radius: 10px;
    padding: 2% 0 2% 0;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

#geschlecht {
    margin-bottom: 3%;
}

#angaben {
    display: flex;
    flex-direction: column;
}

#geschlechterauswahl {
    border: none;
    padding: 0;
    margin: 0;
}

#m {
    margin-right: 2%;
}

#w {
    margin-left: 5%;
    margin-right: 2%;
}

#alter,
#groesse,
#gewicht,
#ergebnis {
    margin-bottom: 2%;
    width: 20%;
    padding: 1% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px none #adadad;
}

#gewicht {
    margin-bottom: 2%;
}

input {
    margin: 0 auto;
    text-align: center;
}

#aktivitaet,
#ziel,
#training {
    margin-bottom: 4%;
}

select {
    -webkit-writing-mode-: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: #fff;
    cursor: default;
    margin: 0em;
    padding: 2%;
    font: 400 11px "Lato", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 15px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    border-width: 0;
    border-style: none;
    border-color: rgb(166, 166, 166);
    border-image: initial;
}

#berechnen {
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: #104B88;
    padding: 2% 5%;
    text-align: center;
    margin-top: 4%;
    margin-left: 5%;
    transition-duration: 300ms;
}

#berechnen:hover {
    transition-duration: 300ms;
    background-color: #b0cae7;
    color: rgb(21, 58, 99);
    cursor: pointer;
}

#zuruecksetzen {
    border-radius: 10px;
    font-size: 17px;
    color: white;
    background-color: #adadad;
    padding: 2% 5%;
    margin-top: 2%;
    text-align: center;
    transition-duration: 300ms;
}

#zuruecksetzen:hover {
    transition-duration: 300ms;
    background-color: #e4e4e4;
    color: #656565;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

button {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    border: none;
    font-size: 17%;
}

#ergebnis {
    font-weight: 500;
}

.ergebnisfeld p {
    text-align: center;
    margin: 0 auto;
}

.ergebnisfeld {
    background-color: white;
    margin-bottom: 2%;
    width: 20%;
    height: 20px;
    padding: 1% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px none #adadad;
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
}


/* ------- Media Queries für Fitnessrechner ------*/

@media only screen and (max-width: 786px) {
    #formular {
        width: 80%;
        padding: 5%;
    }
}

@media only screen and (max-width: 425px) {
    select {
        width: 85%;
    }
}



@media only screen and (max-width: 425px) {
    #alter,
    #groesse,
    #gewicht,
    #ergebnis {
        width: 30%;
    }
}

@media only screen and (max-width: 350px) {
    #berechnen,
    #zuruecksetzen {
        font-size: 80%;
    }
}

@media only screen and (min-width: 786px) {
    #buttons {
        margin: 3%;
    }
}


@media only screen and (max-width: 1167px) {
    .ergebnisfeld {
        width: 25%;
    }
}

@media only screen and (max-width: 933px) {
    .ergebnisfeld {
        width: 30%;
    }
}

@media only screen and (max-width: 468px) {
    .ergebnisfeld {
        width: 34%;
    }
}

@media only screen and (max-width: 361px) {
    .ergebnisfeld {
        width: 40%;
    }
}


/* ------- HOME ------*/

#homeheader {
    margin-top: 0;
    padding-top: 5%;
}

.rechnerauswahl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 5% 10% 0 10%;
}

.kalorienrechner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* margin-left: 230px; */
}

.icon1 {
    background-color: #edad8c80;
    border-radius: 50%;
    width: 150%;
    margin-right: 7%;
    height: 150%;
    transition-duration: 300ms;
}

.icon1:hover {
    transition-duration: 300ms;
    background-color: #edac8cc0;
    width: 150%;
    height: 150%;
}

.kalorienberechnen {
    padding: 5%;
    margin-top: 10%;
    align-items: center;
    line-height: 140%;
}


#Kalorienrechnerhintergrundbild { 
    opacity: 0;
    transition: opacity 300ms linear;
    position: absolute;
    left: 0;
    margin-top: 15%; 
    width: 30%;
    height: auto;
    z-index: -2;
}

@media (hover: none) and (pointer: coarse) {
    #Kalorienrechnerhintergrundbild {
    display: none; 
    }
}


#Wasserrechnerhintergrundbild { 
    opacity: 0;
    transition: opacity 300ms linear;
    position: absolute;
    right: 0;
    margin-top: 14%; 
    margin-right: 5%;
    width: 32%;
    height: auto;
    z-index: -2;
    transform: scaleX(-1);
}

@media (hover: none) and (pointer: coarse) {
    #Wasserrechnerhintergrundbild {
    display: none; 
    }
}

@media only screen and (max-width: 977px) {
    .rechnerauswahl {
        margin: 5% 0 0 0;
    }
}

/* .wasserrechner */

#wasserrechnerbody img{
    position: absolute;  
    margin-left: 55%;
    width: 40%;
    margin-top: 10%;
}

@media only screen and (max-width: 925px) {
    #wasserrechnerbody img {
        margin-left: 56%;
        width: 40%;
        margin-top: 19%;
    }
}

@media only screen and (max-width: 780px) {
    #wasserrechnerbody img {
        margin-left: 60%;
        width: 40%;
        margin-top: 50%;
    }
}

@media only screen and (max-width: 500px) {
    #wasserrechnerbody img {
        margin-left: 60%;
        width: 40%;
        margin-top: 60%;
    }
}

@media only screen and (max-width: 380px) {
    #wasserrechnerbody img {
        margin-left: 60%;
        width: 40%;
        margin-top: 65%;
    }
}

.wasserrechner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /*margin-right: 230px; */
    background-image: none;
}


.icon2 {
    background-color: #7eabd878;
    border-radius: 50%;
    width: 163%;
    height: 163%;
    transition-duration: 300ms;
}

.icon2:hover {
    transition-duration: 300ms;
    background-color: #7eabd8be;
    width: 163%;
    height: 163%;
}

.wasserberechnen {
    padding: 5%;
    margin-top: 14%;
    align-items: center;
    line-height: 140%;
}

#wasserbedarf {
    margin: 0 auto;
}

.ergebnisfeldWasser {
    background-color: white;
    margin-bottom: 2%;
    width: 25%;
    height: 20px;
    padding: 1% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px none #adadad;
    margin: 0 auto;
    margin-bottom: 3%;
    display: flex;
}


/*---- Media Queries Home -----*/

@media only screen and (max-width: 700px) {
    .rechnerauswahl {
        flex-direction: column;
    }
    .kalorienrechner {
        margin: 0;
    }
    .wasserrechner {
        margin-top: 5%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1547px) {
    .ergebnisfeldWasser {
        width: 30%;
    }
}

@media only screen and (max-width: 1289px) {
    .ergebnisfeldWasser  {
        width: 40%;
    }
}

@media only screen and (max-width: 1105px) {
    .ergebnisfeldWasser  {
        width: 40%;
    }
}

@media only screen and (max-width: 967px) {
    .ergebnisfeldWasser  {
        width: 52%;
    }
}

@media only screen and (max-width: 371px) {
    .ergebnisfeldWasser  {
        width: 65%;
    }
}




